@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{ 
    margin: 30px;
}

.idivcalc {
    background-color: red;
}

#cvisor {
    box-shadow: 10 px 10px 10px black;
    border-radius: 5px;
}
#cbotoes {
    size: 10px;
    margin-top: 2px;
}

input {
    margin-bottom: 10px;
    height: 30px;
    width: 130px;

}

button {
    margin-bottom: 2px;
    height: 30px;
    width: 30px;
}