@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{ 
    margin: 30px;
}

#idivcalc {
    border-radius: 5px;
    border: 1px solid black;
    width: 135px;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgb(46, 127, 173), transparent);
}

.cvisor {
    color: blue;
    font-size: 25px;
    box-shadow: 10 px 10px 10px black;
    border-radius: 8px;
    margin: 5px 0px 10px 0px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;

}
#cbotoes {
    size: 10px;
    margin-top: 2px;
}

input {
    margin-bottom: 10px;
    height: 30px;
    width: 130px;

}

button {
    border-radius: 100px;
    background-image: linear-gradient(to bottom, rgb(150, 228, 167), transparent);
    margin-bottom: 2px;
    height: 30px;
    width: 30px;
}