@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    background-image: linear-gradient(to bottom, black, transparent);
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}