@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.397), transparent);
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    width: 500px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.973), transparent);
    border-radius: 30px;
    margin-left: 380px;
}

#idivcalc {
    border-radius: 7px;
    border: 1px solid black;
    width: 135px;
    padding: 20px;
    background-color: black;
    margin-top: 50px;
    margin-left: 550px;

}

.cvisor {
    color: blue;
    font-size: 25px;
    box-shadow: 3px 3px 3px rgb(75, 241, 24);
    border-radius: 8px;
    margin: 5px 0px 20px 0px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;

}

#cbotoes {
    size: 10px;
    margin-top: 2px;

}

input {
    margin-bottom: 10px;
    height: 30px;
    width: 130px;

}

button {
    border-radius: 100px;
    background-color: white;
    margin-bottom: 2px;
    height: 30px;
    width: 30px;
    font-weight: bold;
    font-size: 10px;
    box-shadow: 1px 1px 1px rgb(75, 241, 24);
}

#ibotaomais {
    width: 30px;
    height: 60px;
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
    background-color: aqua;
}