@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 10px 0px 10px 0px;
}


#idivcalc {
    width: 450px;
    height: 420px;
    border: 5px solid black;
    padding: 10px;
    margin: auto;
    background-image: linear-gradient(to bottom, rgb(164, 164, 184), transparent);
}

.cvisor{
    width: 400px;
    height: 50px;
    margin: 10px 10px 20px 20px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(95, 158, 160, 0.37);
    border: 2px solid black;
    border-radius: 5px;
}
.cbotoes{
    margin: 2px 2px 2px 20px;
    width: 81px;
    height: 50px;
    border: 2px solid blue;
    font-size: 25px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, rgba(100, 94, 94, 0.37), transparent);
    border-radius: 5px;
}
#ibotaomais {
    width: 81px;
    height: 101px;
    position: absolute;
    margin: 5px 0px 0px 24px;
    border-radius: 5px;
    
}
