@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, rgb(201, 201, 248), transparent);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 2em;
    text-align: center;
        
}