@charset "utf-8";


body{
    background-image: linear-gradient(to bottom, rgb(76, 76, 194), transparent);
    background-repeat: no-repeat;

}


p{
    color: rgb(58, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
